html {
  scroll-behavior: smooth;
}


/* HeroCards background shadow */

#cachorrao {
  z-index: 10 !important;
}

.mobileNavbar{
  z-index: 1000!important;
}

.fecristo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}


.shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 3s linear alternate;
}

.loud {
align-items: center;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
  }

  to {
    background: hsl(var(--primary) / 80%);
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }

    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }



  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }

    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

html,
body {
  overflow-x: hidden !important;
}

/* header {
  padding-left: 900px !important;
  padding-right: 900px !important;
} */



section {
  padding-left: 2em !important;
  padding-right: 2em !important;
}

section #statistics{
  padding-left: 0em !important;
  padding-right: 0em !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main-entrance {
  animation: fadeIn 1.5s ease-out forwards;
}

.primary-button {
  background-color: #7936a3 !important;
}

.primary-button:hover {
  background-color: #78528f !important;
}

.cardPortifolio {
  cursor: pointer;
}

button {
  cursor: pointer !important;
}